<div class="centenedor">
  <app-navbar></app-navbar>

  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="myModalLabel">Nuevo Torneo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formTournam" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <label for="name">Nombre del Torneo</label>
              <input type="text" class="form-control" name="name" formControlName="name"
                placeholder="Ingrese el nombre del torneo" required>
              <span *ngIf="isInvalid('name')" class="form-text text-danger">
                Este dato es requerido
              </span>
            </div>
            <div class="form-group mb-3">
              <label for="startDate">Fecha de Inicio</label>
              <input type="date" class="form-control" name="startDate" formControlName="startDate" required>
              <div *ngIf="isInvalid('startDate')" class="form-text text-danger">
                <ng-container *ngIf="formTournam.controls['startDate'].hasError('required')">
                  Este dato es requerido.
                </ng-container>
                <ng-container *ngIf="formTournam.controls['startDate'].hasError('invalidStartDate')">
                  {{ startDateErrorMessage }}
                </ng-container>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="endDate">Fecha de Finalización <small class="text-secondary">(opcional)</small></label>
              <input type="date" class="form-control" name="endDate" formControlName="endDate">
              <div *ngIf="isInvalid('endDate')" class="form-text text-danger">
                <ng-container *ngIf="formTournam.controls['endDate'].hasError('invalidEndDate')">
                  {{ endDateErrorMessage }}
                </ng-container>
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="location">Ubicación</label>
              <select type="text" class="form-select" name="location" formControlName="location" required>
                <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
              </select>
              <span *ngIf="isInvalid('location')" class="form-text text-danger">
                Este dato es requerido
              </span>
            </div>
            <div class="form-group">
              <label for="league">Líga</label>
              <select type="text" class="form-select" name="league" formControlName="league" required>
                <option *ngFor="let liga of leagues" [value]="liga">{{ liga }}</option>
              </select>
              <span *ngIf="isInvalid('league')" class="form-text text-danger">
                Este dato es requerido
              </span>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Crear</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="container text-center d-flex align-items-center" style="height: 50vh;">
      <div class="mx-auto">
        <img src="../../../../assets/logoTorneo.png" height="100" class="mb-2" alt="logoTorneo">
        <h5>Crea tu primer torneo aquí</h5>
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">
          Crear Torneo
        </button>
      </div>
    </div>
  </ng-template>

  <div *ngIf="tournaments.length > 0; else loadingTemplate">
    <div>
      <button type="button" class="btn btn-outline-dark ms-4 mb-4" data-bs-toggle="modal" data-bs-target="#myModal">
        Crear Torneo
      </button>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div *ngFor="let tournament of tournaments">
          <tournam-card [tournament]="tournament" (click)="onParticipation(tournament.tournamId)">
          </tournam-card>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
