<div class="card border-dark mb-3" style="max-width: 30rem;">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-md-7 d-md-flex justify-content-start">
        <span class="m-0 ms-1 fw-bold">{{match.field}} {{match.endMatch ? '- Finalizado' : ''}}</span>
      </div>
      <div class="col-md-5 d-md-flex justify-content-end">
        <button *ngIf="match.openEvent === 0" class="btn" (click)="onOpenMatch()">
          <i class="fa-solid fa-pen-to-square fs-5"></i>
        </button>
        <button *ngIf="!match.endMatch && match.openEvent === 1" class="btn bg-success-subtle p-0 m-2" (click)="onOpenEvent()">
          <i class="fa-solid fa-pen-to-square fs-5"></i>Eventos
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-borderless text-center align-middle">
      <tbody>
        <ng-container *ngFor="let team of match.teams; let i = index">
          <tr>
            <td><img [src]="getTeamLogo(team, i + 1)" width="40" alt="logoTorneo"></td>
            <td>{{ team ? team.name : 'Equipo sin definir' }}</td>
            <td>{{team.point}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
