<div class="card border-dark mb-3" style="max-width: 30rem;" *ngFor="let matchup of createMatchups(); let i = index">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-7 col-md-7 d-md-flex justify-content-end">
        <p class="m-0 fw-bold">Partido {{ i + 1 }}</p>
      </div>
      <div class="col-3 col-md-5 d-md-flex justify-content-end">
        <button *ngIf="!isMatchCreated[i]; else eventButton" class="btn" data-bs-toggle="modal" (click)="openMatch(i)"
          data-bs-target="#openMatch">
          <i class="fa-solid fa-pen-to-square fs-5"></i>
        </button>
        <ng-template #eventButton>
          <button class="btn bg-success-subtle p-0 m-2" data-bs-toggle="modal" (click)="openEvent(i)"
            data-bs-target="#openEvent">
            <i class="fa-solid fa-pen-to-square fs-5"></i>Eventos
          </button>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-hover table-borderless text-center align-middle">
      <tbody>
        <tr>
          <td><img src="../../../../assets/teams/logo3.png" width="40" alt="logoTorneo"></td>
          <td>{{ matchup.team1 ? matchup.team1.name : 'Equipo sin definir' }}</td>
          <ng-container *ngIf="matchup.team1; else noTeam1Goals">
            <td *ngFor="let player of getPlayerGoals(matchup.team1.teamId)">{{ player.point }}</td>
          </ng-container>
          <ng-template #noTeam1Goals>
            <td>0</td>
          </ng-template>
        </tr>
        <tr>
          <td><img src="../../../../assets/teams/logo4.png" width="40" alt="logoTorneo"></td>
          <td>{{ matchup.team2 ? matchup.team2.name : 'Equipo sin definir' }}</td>
          <ng-container *ngIf="matchup.team2; else noTeam2Goals">
            <td *ngFor="let player of getPlayerGoals(matchup.team2.teamId)">{{ player.point }}</td>
          </ng-container>
          <ng-template #noTeam2Goals>
            <td>0</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="openMatch" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ showModal ? 'Crear el partido ' + (index + 1) : 'Equipo sin definir' }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="showModal" class="modal-body">
        <form [formGroup]="formMatch" (ngSubmit)="addMatch()">
          <div *ngFor="let selectedMatchup of selectedMatchups" class="row text-center mb-4 bg-secondary-subtle">
            <div class="col-5 p-0">
              <img class="mt-2" src="../../../../assets/teams/logo3.png" width="40" alt="logoTorneo">
              <h4 for="recipient-name">
                {{selectedMatchup.team1 ? selectedMatchup.team1.name : 'Equipo sin definir'}} </h4>
            </div>
            <h2 class="col-1 fw-bold my-auto">VS</h2>
            <div class="col-5 p-0">
              <img class="mt-2" src="../../../../assets/teams/logo4.png" width="40" alt="logoTorneo">
              <h4 for="recipient-name">
                {{selectedMatchup.team2 ? selectedMatchup.team2.name : 'Equipo sin definir'}} </h4>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="dateMatch">Fecha del partido</label>
            <input type="datetime-local" class="form-control" formControlName="dateMatch" name="dateMatch"
              aria-describedby="addon-wrapping" required>
            <span *ngIf="isInvalidFormMatch('dateMatch')" class="form-text text-danger">
              Este dato es requerido
            </span>
          </div>
          <div class="form-group mb-3">
            <label for="field">Ubicación del partido</label>
            <input type="text" class="form-control" name="field" formControlName="field"
              placeholder="Ingrese la ubicación del partido" required>
            <span *ngIf="isInvalidFormMatch('dateMatch')" class="form-text text-danger">
              Este dato es requerido
            </span>
          </div>
          <div class="form-group mb-3">
            <label for="referee">Árbitro</label>
            <input type="text" class="form-control" name="referee" formControlName="referee"
              placeholder="Ingrese el nombre del Árbitro (opcional)">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary w-50" (click)="addMatch()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="openEvent" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Crear Eventos del partido</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEvent" (ngSubmit)="addEvent()" *ngFor="let selectedMatchup of selectedMatchups">
          <div class="row text-center mb-4 bg-secondary-subtle">
            <div class="col-5 p-0">
              <img class="mt-2" src="../../../../assets/teams/logo3.png" width="40" alt="logoTorneo">
              <h4>{{selectedMatchup.team1 ? selectedMatchup.team1.name : 'Equipo sin definir'}}</h4>
            </div>
            <h2 class="col-1 fw-bold m-auto">VS</h2>
            <div class="col-5 p-0">
              <img class="mt-2" src="../../../../assets/teams/logo4.png" width="40" alt="logoTorneo">
              <h4>{{selectedMatchup.team2 ? selectedMatchup.team2.name : 'Equipo sin definir'}}</h4>
            </div>
          </div>

          <div class="container text-center">
            <div class="row align-items-start">
              <div *ngIf="showTeamControls" class="col">
                <div class="form-group mb-3">
                  <label for="player">Jugador</label>
                  <select type="text" class="form-select" name="player" formControlName="player" required>
                    <option *ngFor="let player of selectedTeamPlayers" [value]="player.playerId">{{ player.name }}
                    </option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="matchEvent">Tipo de Evento</label>
                  <select type="text" class="form-select" name="matchEvent" formControlName="matchEvent" required>
                    <option *ngFor="let matchEvent of matchEvents" [value]="matchEvent">{{ matchEvent }}</option>
                  </select>
                  <span *ngIf="isInvalidformEvent('matchEvent')" class="form-text text-danger">
                    Este dato es requerido
                  </span>
                </div>
              </div>
            </div>
            <div class="btn-group row w-100" role="group" aria-label="Basic radio toggle button group">
              <div class="col-6" *ngFor="let team of [selectedMatchup.team1, selectedMatchup.team2]; let i = index">
                <input type="radio" class="btn-check" name="btnradio" [id]="'btnradio' + i" autocomplete="off"
                  (change)="showTeamControls = true; selectedTeamPlayers = i === 0 ? playersTeam1 : playersTeam2;">
                <label class="btn btn-outline-secondary w-100" [for]="'btnradio' + i">{{ team.name }}</label>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary w-50" (click)="addEvent()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>
