<div class="card border-dark mx-auto">
  <div class="row m-0">
    <div class="col-4 p-0">
      <img src="../../../../assets/logoTorneo.png" class="img-fluid rounded-start" alt="logoTorneo">
    </div>
    <div class="col-8 p-0">
      <div class="card-body p-1">
        <h5 class="card-title crop-text ">{{tournament.name}}</h5>
        <h6 class="card-title crop-text m-0">{{tournament.location}}</h6>
        <div class="position-absolute bottom-0 end-0">
          <small class="card-title crop-text p-1">{{tournament.league}}</small>
        </div>
        <div class="position-absolute bottom-0 end-0">
          <p class="card-text me-1"><small class="text-body-secondary">
              Inicio: {{tournament.startDate | date:'dd MMMM yyyy'}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
