body {
  background-image: url("../../../../assets/bgTournam.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
h1 {
  text-shadow: 1px 1px 2px rgb(18, 18, 18);
}
h6 {
  text-shadow: 1px 1px 1px rgb(18, 18, 18);
}
