<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/logo.png" alt="Logo" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        </ul>
        <div class="d-flex ms-auto">
          <button class="btn btn-outline-dark m-2" (click)="onLogin()">
            <i class="fa-regular fa-futbol"></i> Login</button>
        </div>
      </div>
    </div>
  </nav>

  <div class="container text-center d-flex align-items-center" style="height: 50vh;">
    <div class="mx-auto">
      <h1 class="display-2 fw-bold text-danger">Bienvenido a TournApp</h1>
      <h3 class="lead mb-4 text-danger">La mejor plataforma para crear y participar en torneos.</h3>
      <button type="button" class="btn btn-dark btn-lg" (click)="onRegister()">
        <i class="fa-solid fa-trophy"></i> Empieza creando tu primer torneo
      </button>
    </div>
  </div>

  <app-footer></app-footer>
</body>
