body {
  background-image: url("../../../../assets/bgTournam.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
h1,
h3 {
  text-shadow: 1px 1px 2px rgb(249, 246, 246);
}
