<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/tournaments/tournament">
        <img src="../../../../assets/logo.png" alt="Logo" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse"
        aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ml-auto w-100">
          <li class="nav-item">
            <a class="nav-link" routerLink="/tournaments/tournament" routerLinkActive="active">Torneos</a>
          </li>
          <ng-container *ngIf="tournamIdInput">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/tournaments/participation/' + tournamIdInput"
                routerLinkActive="active">Participantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/tournaments/' + tournamIdInput + '/matches'"
                routerLinkActive="active">Partidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/tournaments/' + tournamIdInput + '/statistics'"
                routerLinkActive="active">Estadísticas</a>
            </li>
          </ng-container>
          <li class="nav-item mx-auto me-1">
            <div class="dropstart">
              <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <i class="fa-solid fa-user-gear"></i>
              </button>
              <ul class="dropdown-menu">
                <li><span class="ms-3">{{name}}</span></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="onEdit()">Editar Perfíl</a></li>
                <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
