<footer class="bg-dark text-light">
  <div class="container p-4">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/logo.png" alt="Logo" height="40" class="d-inline-block align-text-top">
        <p>
          TournApp, organizan y gestionan tus torneos de futbol.
          Con su interfaz amigable, características y funcionalidad completa, te ofrecemos una experiencia sin igual
          tanto para organizadores como para participantes.
          TournApp te proporciona las herramientas que necesitas para crear, personalizar y gestionar torneos con una
          facilidad y eficiencia sin precedentes.
        </p>
      </div>
    </div>
    <div class="text-center p-3">
      © {{ currentYear }} Copyright: Tu App de Torneos.
    </div>
  </div>
</footer>
