<div class="centenedor">
  <app-navbar></app-navbar>

  <div class="container text-center">
    <div class="row mb-4">
      <h3 class="mb-4">Estadísticas del Jugador.....</h3>
      <div class="col border border-success me-md-2 mb-4 mb-md-0">
        <h5><span class="badge rounded-pill text-bg-success">Máximos Goleadores</span></h5>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Goles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of playerGoals; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col border border-danger">
        <h5><span class="badge rounded-pill text-bg-danger">Máximas Tarjetas Rojas</span></h5>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Tarjetas Rojas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of redCard; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row ">
      <div class="col border border-warning me-md-2 mb-4 mb-md-0">
        <h5><span class="badge rounded-pill text-bg-warning">Máximas Tarjetas Amarillas</span></h5>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Tarjetas Amarillas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of yellowCard; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col border border-primary">
        <h5><span class="badge rounded-pill text-bg-primary">Máximas Tarjetas Azules</span></h5>
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Asistentes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of blueCard; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
