<div class="centenedor" style="text-align: center;">
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row mb-4 justify-content-end">
      <div class="col-md-4">
        <h3>Estadísticas del Jugador</h3>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-secondary btn-sm" (click)="sendEmail()">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          Enviar estadísticas por correo
        </button>
      </div>
    </div>

    <div class="row" style="margin-bottom: 1rem;">
      <div class="col me-md-2 mb-md-0" style="border: 1px solid #198753;margin-bottom: 1rem;">
        <h3 style="color: #198753;">Máximos Goleadores</h3>
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Goles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of playerGoals; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col" style="border: 1px solid #dd3444;">
        <h3 style="color: #dd3444;">Máximas Tarjetas Rojas</h3>
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Tarjetas Rojas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of redCard; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col me-md-2 mb-md-0" style="border: 1px solid #ffc106;margin-bottom: 1rem;">
        <h3 style="color: #ffc106;">Máximas Tarjetas Amarillas</h3>
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Tarjetas Amarillas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of yellowCard; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col" style="border: 1px solid #0d6efd;">
        <h3 style="color: #0d6efd;">Máximas Tarjetas Azules</h3>
        <table class="table" style="width: 100%;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipo</th>
              <th scope="col">Jugador</th>
              <th scope="col">Asistentes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of blueCard; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{player.teamName}}</td>
              <td>{{player.playerName}}</td>
              <td>{{player.point}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
